# Environment Variables
# Copy this file to .env and fill in your values

# App
NUXT_PUBLIC_APP_NAME=ProjectWeb
NUXT_PUBLIC_APP_URL=http://localhost:3000

# API
NUXT_PUBLIC_API_BASE_URL=http://localhost:3000/api

# Development
NUXT_DEVTOOLS=true